.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10%;
  font-size: 12px;
  position: fixed;
  background-color: l#f7f7f7;
  margin-top: 14px;
  
  left: 0%;
  bottom: 0%;
  right: 0%;
  z-index: 2000;
  background-color: #fff;
  border-top: 1.5px solid #c4bebe;
}
/* 
.Header:first-child {
  margin-left: 15px;
}

.Header:last-child {
  margin-right: 15px;
} */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation:first-child {
  margin-right: 23px;
  display: none !important;
}
.navigation {
  justify-content: flex-start;
  align-items: center;
 
}

.Quick_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}


.link_class {
  text-decoration: none;
  color: black;
} 

@media screen and (min-width: 768px) {
  
  .navigation:first-child {
    margin-right: 23px;
    display: block !important;
  }

  .Header {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 6%;
  height: 580px;
  font-size: 12px;
  position: fixed;
  background-color: l#f7f7f7;
  margin-top: 15px;
  margin-right: 20px;
  top: 0%;
  border-top: 0;
  }
 

  .navigation {
    margin-top: 50px;
  }

  .navigation:first-child {
    margin-top: 3px;
  }

}