

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 574.2px;
    font-size: 12px;
    position: fixed;
    background-color: l#f7f7f7;
    margin-top: 14px;
    
}

.navigation {
   justify-content: flex-start;
   margin-bottom: 25px;
}

.Quick_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4px;
}
