

.showVideo {
    display: flex;
    align-items: center;
    flex: 380 0 0 0;
    margin-left: 20px;
   
} 


.video > h3 {
    text-align: center;
}
/* .video > ReactPlayer{
    
} */

/* @media screen and (min-width: 768px) {
    .showVideo {
        margin-left: 10%;
    }
} */