
.displayVideo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f7f7f7;
    margin-bottom: 70px;
    margin-top: 10%;
}

.displayCategory {
    display: flex;
    width: 100%;
    margin-left: 5px;
    height: 65px;
    align-items: center;
    position: fixed;
    top: 62px;
    left: 0%;
    background-color: #fff;
    z-index: 2000;
}

@media screen and (min-width: 768px) {
    
    .displayVideo {
        width: 92%;
        margin-left: 8%;
        justify-content: flex-start;
    }

    .displayCategory {
      width: 92%;
      margin-left: 8%;  
    }
}