
.displayVideo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f7f7f7;
    margin-bottom: 70px;
    margin-top: 10%;
    padding-top: 5rem;
}

.displayCategory {
    display: flex;
    width: 100%;
    margin-left: 5px;
    height: 65px;
    align-items: center;
    position: fixed;
    top: 62px;
    left: 0%;
    background-color: #fff;
    z-index: 2000;
}

.disconnect {
    text-align: center;
    max-width: 90%;
    height: 68vh;
    margin: auto;
}
.disconnect__heading {
    font-size: 2rem;
    font-weight: 500;
}
.disconnect__msg {
    font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
    
    .displayVideo {
        width: 92%;
        margin-left: 8%;
        justify-content: flex-start;
        padding-top: 0;
    }

    .displayCategory {
      width: 92%;
      margin-left: 8%;  
    }
}