
.type {
    margin-left: 10px;
    
}

.type > button {
    border-radius: 16px;
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}

button:hover {
    background-color: #e6e6e6;
}

button:active {
    background-color: black;
    color: white;
}

button:visited {
    background-color: black;
    color: white;
}

@media screen and (min-width: 400px) {
    
    .type > button {
        padding: 10px;
    }
}